
body{ 
    background: 3f7f7f7;
    font-family: 'Merriweather', serif;
}
section, header { 
    width: 80%;
    max-width 800px;
    margin: auto;
}
img{ 
    display: block;
    padding: 0;
    max-width: 100%;
}

/*--- Styling typography ---*/
h1, h2, blockquote{ 
color 391E25;
font-family: 'Merriweather', serif;
color EA91A6;
color FBF9EB
}


p {
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

blockquote {
    font-size
    font-style normal;

 }

/*-- jh+ef --*/
h2 {
color: #EA91A6;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

/* --jessica hische paragraph */

.hische {

color: #391E25;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal; }

styling links
a{ 
    color #EA91A6;
    text-decoration:none;

}

a:hover {
    color #FBF9EB;
    border-bottom: 1px dotted;

}

nav {
    top: o;
    left: o;
    margin: o;
    width: 100%
    background: 
    padding: 2rem 0;
    font size: 0.8 rem;
}

nav ul { 
text-align: right;
list-style-type: none;
}

nav ul li { 
    display: inline;
    margin: 20px 
}

nav a {
color
}

nav a:hover {
    border bottom: none;
    transition: all 0.3s ease-in-out;
}

.logo{
    font-size:
    text align: left;
    padding-right: 50vw;
    font-family:

}
footer{ 
    background:
    text-align: centre;
    font-size:
    color:
    padding: 4rem 0 3rem o;
    margin-top: 4rem;
}

footer p {
    margin: 0 12rem;
}